.root {
    -fx-background-color: black;
}

.label {
    -fx-text-fill: white;
    -fx-alignment: center;
}

#labelM, #labelO {
    -fx-background-color: #400000;
}

#labelN, #labelP {
    -fx-background-color: maroon;
}

#labelDemoName {
    -fx-text-fill: #8080FF;
    -fx-font: normal 13.5 'sans-serif';
}

#lblResult {
    -fx-alignment: center-right;
}

#btnExit {
    -fx-background-color: transparent;
    -fx-border-color: silver;
    -fx-text-fill: dimgray;
}

#btnExit:pressed {
    -fx-background-color: #C00000;
}

#btnExit:hover {
    -fx-background-color: maroon;
}

#btnShowHide {
    -fx-background-color: transparent;
    -fx-border-color: silver;
    -fx-text-fill: dimgray;
}

#btnShowHide:hover {
    -fx-background-color: gray;
}

#tabSettings {
    -fx-font: normal 14 'sans-serif';
    -fx-tab-min-width: 81;
    -fx-tab-min-height: 25;
    -fx-padding: 0;
}

#tabSettings *.tab-header-background {
    -fx-background-color: transparent;
}
