.root {
    -fx-background-color: black;
}

.label {
    -fx-alignment: center;
}

.button {
    -fx-padding: 2;
}

#labelM, #labelO {
    -fx-text-fill: white;
    -fx-background-color: #400000;
}

#labelN, #labelP {
    -fx-text-fill: white;
    -fx-background-color: maroon;
}

#labelDemoName {
    -fx-text-fill: #8080FF;
    -fx-font: normal 13.5 'sans-serif';
}

#lblResult {
    -fx-text-fill: white;
    -fx-alignment: center-right;
}

#btnExit {
    -fx-background-color: transparent;
    -fx-border-color: silver;
    -fx-text-fill: dimgray;
}

#btnExit:pressed {
    -fx-background-color: #C00000;
}

#btnExit:hover {
    -fx-background-color: maroon;
}

#btnShowHide {
    -fx-background-color: transparent;
    -fx-border-color: silver;
    -fx-text-fill: dimgray;
}

#btnShowHide:hover {
    -fx-background-color: gray;
}

#tabSettings {
    -fx-font: normal 14 'sans-serif';
    -fx-tab-min-width: 81;
    -fx-tab-min-height: 25;
    -fx-padding: 0;
}

#tabSettings *.tab-header-background {
    -fx-background-color: transparent;
}

#tabPageCamera, #tabPageTokens, #tabPageApps {
    -fx-padding: 3;
}

#lblRecord {
    -fx-background-color: transparent;
    -fx-font: bold 19.5 'monospace';
    -fx-text-fill: firebrick;
    -fx-text-alignment: center;
}

#comboBoxCameras, #comboBoxMarkers {
    -fx-font: normal 14 'sans-serif';
}

#groupBoxCameraInfo, #groupBoxMarkerControl {
    -fx-font: normal 14 'sans-serif';
}

#labelMarkerData {
    -fx-border-insets: 0;
    -fx-border-width: 2px;
    -fx-border-color: black lightgray lightgray black;
}

#buttonMarkerAdd, #tabPageApps .button {
    -fx-font: normal 14 'sans-serif';
}

#labelDemoInstructions {
    -fx-font: normal 14 'sans-serif';
    -fx-border-insets: 0;
    -fx-border-width: 2px;
    -fx-border-color: black lightgray lightgray black;
}
